.fg-red {
  color: $red ;
}

.fg-yellow {
  color: $yellow ;
}

.fg-green {
  color: $green ;
}

.fg-black {
  color: $black ;
}

.fg-blue {
  color: $blue ;
}

.fg-white {
  color: $white ;
}


.bg-red {
  background-color: $red ;
}

.bg-yellow {
  background-color: $yellow;
}
.bg-green {
  background-color: $green;
}
.bg-black {
  background-color: $black;
}
.bg-blue {
  background-color: $blue;
}
.bg-white {
  background-color: $white;
}


